.col-1{
    width: 5.555%;
}
.col-2{
    width: 11.11%;
}
.col-3{
    width: 16.665%;
}
.col-4{
    width: 21.40%;
}
.col-5{
    width: 27.775%;
}
.col-6{
    width: 30%;
}
.col-7{
    width: 38.885%;
}
.col-8{
    width: 44.30%;
}
.col-9{
    width:49.995%;
}
.col-10{
    width: 55.55%;
}
.col-11{
    width: 61.105%;
}
.col-12{
    width: 66%;
   
}
.col-13{
    width: 72.155%;
}
.col-14{
    width: 77.77%;
}
.col-15{
    width: 83.325%;
}
.col-16{
    width: 88.88%;
}
.col-17{
    width: 94.435%;
}
.col-18{
    width: 99.70%;
}